.item {
  background-color: #15101c;
  padding: 1.25rem;
  border-radius: 10px;
  color: #9e78cf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item_title_action {
    display: flex;
    gap: 1rem;
}

.item_action {
  display: flex;
  gap: 1rem;
}

.item_action_btn, .item_delete_btn{
  cursor: pointer;
}

.item_action_btn svg:hover {
  stroke: #10de13 !important;
  transition: all 0.2s;
}

.item_delete_btn svg:hover {
  stroke: #ff4a4a !important;
  transition: all 0.2s;
}
